{% extends "base.html" %}
{% set active_page = "unsplash" %}

{% block title %} WallHaven Images.{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}

{% block page_content %}
<h1 class="cap" style="text-align: center;">WallHaven Images.</h1>

<div style="text-align: center;">
    <img class="responsive" src="https://w.wallhaven.cc/full/vp/wallhaven-vpqk88.png" width="400" height="400">
</div>
<p style="text-align: center;">Source</p>

<div style="text-align: center;">
    <img class="responsive" src="https://w.wallhaven.cc/full/je/wallhaven-jexovp.png" width="400" height="400">
</div>
<p style="text-align: center;">Source</p>
{% extends "base.html" %}
{% set active_page = "unsplash" %}

{% block title %} WallHaven Images.{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}